.layout{
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background: #FBFBFB;
  main{
    position: absolute;
    display: flex;
    top: 6.45rem;
    left: 0;
    width: 100%;
    
    &.overflow-hidden{
      top: 0px;
      height: 100vh;
    }
    
    @media screen and (min-width: 900px){
      left: 17.75rem;
      width: calc(100vw - 19rem);
    }

  } 
}